modules = ["nodejs-20", "bash", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 22165
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.development]

[userenv.shared]
BUNNY_LIBRARY_ID = "679323"
BUNNY_CDN_HOSTNAME = "vz-9354c686-440.b-cdn.net"
BUNNY_COLLECTION_DZIAL_1 = "76622699-49f9-4827-8eb9-b17701caf854"
BUNNY_COLLECTION_DZIAL_2 = "8cd03b14-9792-41b5-9380-a18da5fc8502"
BUNNY_COLLECTION_DZIAL_3 = "10dfd152-f817-404b-b015-db08cf2affb3"
PAYNOW_ENV = "sandbox"
ADMIN_EMAILS = "programujemy.olx@gmail.com"
BUNNY_COLLECTION_DZIAL_4 = "47ce0c3d-d330-40e6-b734-d4a38f964dff"

[userenv.production]
APP_URL = "https://fizyka7e.replit.app"
API_URL = "https://fizyka7e.replit.app"
ALLOWED_ORIGINS = "https://fizyka7e.replit.app"
COURSE_PRICE_GROSZ = "3500"
COURSE_OLD_PRICE_GROSZ = "9000"
